@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-ellipse-first {
  background-image: url('/ellipses.svg');
  background-position: -15% 7%;
  background-size: 600px;
  background-repeat: no-repeat;
}

.bg-ellipse-intermediate {
  background-image: url('/ellipses.svg');
  background-position: 120% -2%;
  background-size: 600px;
  background-repeat: no-repeat;
}

.bg-ellipses-last {
  background-image: url('/ellipses.svg');
  background-position: -11% 57%;
  background-size: 600px;
  background-repeat: no-repeat;
}